<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyfun.mapper.TokenMapper">
  <resultMap id="BaseResultMap" type="com.easyfun.pojo.Token">
    <id column="token" jdbcType="VARCHAR" property="token" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from token
    where token = #{token,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.easyfun.pojo.Token">
    insert into token (token, uid, expire_date
      )
    values (#{token,jdbcType=VARCHAR}, #{uid,jdbcType=BIGINT}, #{expireDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.easyfun.pojo.Token">
    update token
    set uid = #{uid,jdbcType=BIGINT},
      expire_date = #{expireDate,jdbcType=TIMESTAMP}
    where token = #{token,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select token, uid, expire_date
    from token
    where token = #{token,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select token, uid, expire_date
    from token
  </select>
</mapper>